{% extends "layout.html" %}

{% block title %}
    View all Projects
{% endblock %}

{% block main %}

    {% if session.user_id %}

        <h1>All of {{ user }}'s Current Projects</h1><br>

        <p>On this page you can find all your projects currently saved to your account.
        Along with all details that have been entered by you for each project.
        If you need to edit or delete any projects that are already saved, make a note
        of the name of the project because you will need this to access the project.</p>

        <table class="table table-striped">

            <thead>
            <tr>
                {% for col in cols %}
                    <th>{{ col }}</th>
                {% endfor %}
            </tr>
            </thead>

            <tbody>
            {% for row in project %}
{#                {% for val in project[row] %}#}
{#                    <tr>#}
{#                        {% if row.mold_img %}#}
{#                            <td>#}
{#                                <img src="data:{{ row.mold_img_type }};base64,{{ val }}"#}
{#                                     height=50 width=70>#}
{#                            </td>#}
{##}
{#                        {% elif row.mold_img == '' %}#}
{#                            <td>#}
{#                                None#}
{#                            </td>#}
{##}
{#                        {% elif row.result_img %}#}
{#                            <td>#}
{#                                <img src="data:{{ row.result_img_type }};base64,{{ val }}"#}
{#                                     height=50 width=70>#}
{#                            </td>#}
{##}
{#                        {% elif row.result_img == '' %}#}
{#                            <td>#}
{#                                None#}
{#                            </td>#}
{##}
{#                        {% else %}#}
{#                            <td>#}
{#                                {{ row.val }}#}
{#                            </td>#}
{##}
{#                        {% endif %}#}
{##}
{#                    </tr>#}
{##}
{#                {% endfor %}#}
                <tr>
                    <td>{{ row.name }}</td>
                    <td>
                        {% if row.mold_img %}
                            <img src="data:{{ row.mold_img_type }};base64,{{ row.mold_img }}"
                                 height=50 width=70>
                        {% else %}
                            None
                        {% endif %}
                    </td>
                    <td>{{ row.resin_brand }}</td>
                    <td>{{ row.resin_type }}</td>
                    {% if row.unit == 'Grams' %}
                        <td>{{ row.amount }} g</td>
                    {% elif row.unit == 'Milliliters' %}
                        <td>{{ row.amount }} mL</td>
                    {% elif row.unit == 'Ounces' %}
                        <td>{{ row.amount }} oz</td>
                    {% elif row.unit == 'Quarts' %}
                        <td>{{ row.amount }} qt</td>
                    {% elif row.unit == 'Pints' %}
                        <td>{{ row.amount }} pt</td>
                    {% elif row.unit == 'Teaspoons' %}
                        <td>{{ row.amount }} tsps</td>
                    {% elif row.unit == 'Tablespoons' %}
                        <td>{{ row.amount }} tbsps</td>
                    {% elif row.unit == 'Gallons' %}
                        <td>{{ row.amount }} gals</td>
                    {% elif row.unit == 'Other' %}
                        <td>{{ row.amount }} ?</td>
                    {% else %}
                        <td>{{ row.amount }}</td>
                    {% endif %}
                    <td>{{ row.colors }}</td>
                    <td>{{ row.color_amts }}</td>
                    <td>{{ row.color_types }}</td>
                    <td>{{ row.glitters }}</td>
                    <td>{{ row.glitter_amts }}</td>
                    <td>{{ row.glitter_types }}</td>
                    <td>
                        {% if row.time_to_pour_hrs or row.time_to_pour_mins %}
                            {{ '%02d' % row.time_to_pour_hrs
                                    }}:{{ '%02d' % row.time_to_pour_mins }}
                        {% else %}
                            None
                        {% endif %}
                    </td>
                    <td>
                        {% if row.time_to_pour_hrs or row.time_to_pour_mins %}
                            {{ '%02d' % row.pouring_time_hrs
                                    }}:{{ '%02d' % row.pouring_time_mins }}
                        {% else %}
                            None
                        {% endif %}
                    </td>
                    <td>
                        {% if row.time_to_demold_hrs or row.time_to_demold_mins %}
                            {{ '%02d' % row.time_to_demold_hrs
                                    }}:{{ '%02d' % row.time_to_demold_mins }}
                        {% else %}
                            None
                        {% endif %}
                    </td>
                    {% if row.start_temp and row.start_temp_unit == 'Fahrenheit' %}
                        <td>{{ row.start_temp }}&#8457;</td>
                    {% elif row.start_temp and row.start_temp_unit == 'Celsius' %}
                        <td>{{ row.start_temp }}&#8451;</td>
                    {% else %}
                        <td>
                            {{ row.start_temp }}
                        </td>
                    {% endif %}
                    {% if row.end_temp and row.end_temp_unit == 'Fahrenheit' %}
                        <td>{{ row.end_temp }}&#8457;</td>
                    {% elif row.end_temp and row.end_temp_unit == 'Celsius' %}
                        <td>{{ row.end_temp }}&#8451;</td>
                    {% else %}
                        <td>{{ row.end_temp }}</td>
                    {% endif %}
                    {% if row.demold_temp and row.demold_temp_unit == 'Fahrenheit' %}
                        <td>{{ row.demold_temp }}&#8457;</td>
                    {% elif row.demold_temp and row.demold_temp_unit == 'Celsius' %}
                        <td>{{ row.demold_temp }}&#8451;</td>
                    {% else %}
                        <td>{{ row.demold_temp }}</td>
                    {% endif %}
                    <td>{{ row.result_scale }}</td>
                    <td>
                        {% if row.result_img %}
                            <img src="data:{{ row.result_img_type }};base64,{{ row.result_img }}"
                                 height=50 width=70>
                        {% else %}
                            None
                        {% endif %}
                    </td>
                    <td>{{ row.notes }}</td>
                </tr>

            {% endfor %}

            </tbody>

        </table>

    {% endif %}

{% endblock %}
