{% extends "layout.html" %}

{% block title %}
    Project {{ project.name }}
{% endblock %}

{% block main %}

    {% if session.user_id %}

    <h2>&#x1F4DD; &#x1F4DD; &#x1F4DD;
        Details for Project <strong>{{ project.name }}</strong>
        &#x1F4DD; &#x1F4DD; &#x1F4DD;</h2><br><hr><br>

        <div id="wrapper-display1">

            <div class="col-1-of-2">

                <h4>
                    Resin Details:
                </h4><br>

                {% if project.resin_brand != '' %}
                    <p><strong>Resin Brand:</strong><br><br>
                        {{ project.resin_brand }}</p><br>

                {% else %}
                    <p><strong>Resin Brand:</strong><br><br>
                        None Recorded</p><br>

                {% endif %}

                {% if project.resin_type != '' %}
                    <p><strong>Type of Resin:</strong><br><br>
                        {{ project.resin_type }}</p><br>

                {% else %}
                    <p><strong>Type of Resin:</strong><br><br>
                        None Recorded</p><br>

                {% endif %}

                {% if project.amount != '' and project.amount != 'None' %}
                    <p><strong>Total Amount of Resin:</strong><br><br>
                        {{ project.amount }} {{ project.unit }}</p><br>

                {% elif project.amount != '' and project.amount == 'None' %}
                    <p><strong>Total Amount of Resin:</strong><br><br>
                        {{ project.amount }} No Measurement Unit Recorded</p><br>

                {% else %}
                    <p><strong>Total Amount of Resin:</strong><br><br>
                        None Recorded</p><br>

                {% endif %}

            </div>

            <div class="col-2-of-2">

                <p style="align-self: center"><strong>
                    Image of Mold used for this Project
                </strong></p>

                {% if project.mold_img == '' %}
                    <img alt="No Image Provided"
                         src="https://api.memegen.link/images/custom/No_Image_was_Provided/If_you_would_like_to_add_your_image,_please_edit_this_project_and_add_the_link_to_the_image_of_your_mold.jpg?background=https://tinyurl.com/hnbxurmv&token=st3a6gbnvcmhe3xggy2w&watermark=memecomplete.com"
                         width="90%" height="90%">

                {% else %}
                    <img src="{{ project.mold_img }}"
                         alt="{{ project.name }} mold image"
                         height="90%" width="90%">

                {% endif %}

            </div>

        </div><br><hr><br>

        <h3> &#10133; &#10133; &#10133; Additives &#10133; &#10133; &#10133; </h3><br><hr><br>

        <div id="wrapper-display2">

            <div class="col-1-of-2">

                <h4>Color Details:</h4><br>

                <strong>Color(s):</strong><br>

                {% if project.colors != '' %}
                    {% for color in project.colors.split(',') %}
                        <ul>
                            <li>{{ color }}</li>
                        </ul>
                    {% endfor %}<br>

                {% else %}
                    <ul>
                        <li>None Recorded</li>
                    </ul>

                {% endif %}

                <strong>Color Type(s):</strong><br>

                {% if project.color_types != '' %}
                    {% for color_type in project.color_types.split(',') %}
                        <ul>
                            <li>{{ color_type }}</li>
                        </ul>
                    {% endfor %}<br>

                {% else %}
                    <ul>
                        <li>None Recorded</li>
                    </ul>

                {% endif %}

                <strong>Color Amount(s):</strong><br>

                {% if project.color_amts != '' %}

                    {% for camts in project.color_amts.split(',') %}
                        <ul>
                            <li>{{ camts }}</li>
                        </ul>
                    {% endfor %}<br>

                {% else %}
                    <ul>
                        <li>None Recorded</li>
                    </ul>

                {% endif %}

            </div>

            <div class="col-2-of-2"
                 style="align-items: flex-start;
                 justify-content: flex-start">

                <h4>
                    Glitter Details:
                </h4><br>

                <strong>Glitter(s):</strong><br>

                {% if project.glitters != '' %}
                    {% for glitter in project.glitters.split(',') %}
                        <ul>
                            <li>{{ glitter }}</li>
                        </ul>
                    {% endfor %}<br>

                {% else %}
                    <ul>
                        <li>None Recorded</li>
                    </ul>

                {% endif %}

                <strong>Amount of Glitter(s):</strong><br>
                {% if project.glitter_amts != '' %}
                    {% for gamt in project.glitter_amts.split(',') %}
                        <ul>
                            <li>{{ gamt }}</li>
                        </ul>
                    {% endfor %}<br>

                {% else %}
                    <ul>
                        <li>None Recorded</li>
                    </ul>

                {% endif %}

            </div>

        </div><br><hr><br>

        <div>

            <h3>
                🕐 🕑 🕒 🕓 🕔 🕕 Time Details: 🕖 🕗 🕘 🕙 🕚 🕛
            </h3><br><hr><br>

            {% if project.time_to_pour_mins != '' %}
                <strong>Time from Combining to Pouring:</strong> &nbsp;
                    {{ project.time_to_pour_mins }} minutes<br><br>

            {% else %}
                <strong>Time from Combining to Pouring:</strong> &nbsp;
                    None Recorded<br><br>

            {% endif %}

            {% if project.pouring_time_mins != '' %}
                <strong>Time it took to Pour Entire Project:</strong> &nbsp;
                    {{ project.pouring_time_mins }} minutes<br><br>

            {% else %}
                <strong>Time it took to Pour Entire Project:</strong> &nbsp;
                    None Recorded<br><br>

            {% endif %}

            {% if project.time_to_demold_hrs != '' %}
                <strong>Time from Completing Pouring to De-molding:</strong> &nbsp;
                    {{ project.time_to_demold_hrs }} hours<br>

            {% else %}
                <strong>Time from Completing Pouring to De-molding:</strong> &nbsp;
                    None Recorded<br><br>

            {% endif %}
            <br><hr><br>

            <h3>
                &#127777;&#65039; &#127777;&#65039; &#127777;&#65039;
                Temperature Details:
                &#127777;&#65039; &#127777;&#65039; &#127777;&#65039;
            </h3><br><hr><br>

            {% if project.start_rm_temp_f != '' %}
                <strong>Room Temperature at the Start of Project:</strong> &nbsp;
                    {{ project.start_rm_temp_f }}&#8457;<br><br>

            {% else %}
                <strong>Room Temperature at the Start of Project:</strong> &nbsp;
                    None Recorded<br><br>

            {% endif %}

            {% if project.end_rm_temp_f != '' %}
                <strong>Room Temperature at time of De-molding:</strong> &nbsp;
                    {{ project.end_rm_temp_f }}&#8457;<br>

            {% else %}
                <strong>Room Temperature at time of De-molding:</strong> &nbsp;
                None Recorded<br><br>

            {% endif %}

        </div><br><hr><br>

        <h3>&#127881; &#127881; &#127881;
            Results &#127881; &#127881; &#127881;
        </h3><br><hr><br>

        <div id="wrapper-display3">

            <div class="col-1-of-2" style="justify-content: center">

                <h4>
                    Results Score:
                </h4><br><br>

                {% if project.result_scale != 'None' %}
                    <p><strong>Score of Results on a Scale of 1-5:</strong><br><br>
                        {{ project.result_scale }}</p>

                {% else %}
                    <strong>Score of Results on a Scale of 1-5:</strong> &nbsp;
                    None Recorded<br><br>

                {% endif %}

            </div>

            <div class="col-2-of-2">

                <p style="align-self: center"><strong>
                    Image of Results for this Project
                </strong></p>

                {% if project.result_img == '' %}
                    <img alt="No Image Provided"
                         src="https://api.memegen.link/images/custom/No_Image_was_Provided/If_you_would_like_to_add_your_image,_please_edit_this_project_and_add_the_link_to_the_image_of_your_mold.jpg?background=https://tinyurl.com/hnbxurmv&token=st3a6gbnvcmhe3xggy2w&watermark=memecomplete.com"
                         width="90%" height="90%">

                {% else %}
                    <img src="{{ project.result_img }}"
                         alt="{{ project.name }} results image"
                         height="90%" width="90%">

                {% endif %}

            </div>

            <div>

            </div>

        </div>

    {% endif %}

{% endblock %}