{% extends "layout.html" %}

{% block title %}
    Project {{ project.name }}
{% endblock %}

{% block main %}

    {% if session.user_id %}

        <h1>
            <span style="font-size: large">
                &#x1F4DD; &nbsp; &nbsp; &nbsp;
            </span>
            <span>Details for Project <strong>{{ project.name }}</strong></span>
            <span style="font-size: large">
                &nbsp; &nbsp; &nbsp; &#x1F4DD;
            </span>
        </h1><br><br>

        <div id="wrapper-display1">

            <div class="col-1-of-2">

                <h3>
                    Resin Details
                </h3><br><br>

                <h5>Resin Brand:</h5>

                {% if project.resin_brand != '' %}
                    <p>{{ project.resin_brand }}</p>
                    <br>

                {% else %}
                    <p>None Recorded</p><br>

                {% endif %}

                <h5>Type of Resin:</h5>

                {% if project.resin_type != '' %}
                    <p>{{ project.resin_type }}</p><br>

                {% else %}
                    <p>None Recorded</p><br>

                {% endif %}

                <h5>Total Amount of Resin:</h5>

                {% if project.amount != '' and project.amount != 'None' %}
                    <p>{{ project.amount }} {{ project.unit }}</p><br>

                {% elif project.amount != '' and project.amount == 'None' %}
                    <p>
                        {{ project.amount }} No Measurement Unit Recorded
                    </p><br>

                {% else %}
                    <p>None Recorded</p><br>

                {% endif %}

            </div>

            <div class="col-2-of-2">

                <h3>
                    Image of Mold Used
                </h3>

                {% if project.mold_img == '' %}
                    <img alt="No Image Provided"
                         src="https://api.memegen.link/images/custom/No_Image_was_Provided/If_you_would_like_to_add_your_image,_please_edit_this_project_and_add_the_link_to_the_image_of_your_mold.jpg?background=https://tinyurl.com/hnbxurmv&token=st3a6gbnvcmhe3xggy2w&watermark=memecomplete.com"
                         width="90%" height="90%">

                {% else %}
                    <img src="data:{{ project.mold_img_type }};base64,{{ project.mold_img }}"
                             height=90% width=90%>

                {% endif %}

            </div>

        </div><br>

        <div style="vertical-align: middle">
            <h2 style="color: #ea433b">
                <span style="font-size: medium">
                    &#10133; &#10133; &#10133; &#10133; &#10133; &#10133; &#10133; &#10133; &#10133;
                </span>
                <span> &nbsp; &nbsp; &nbsp; Additives &nbsp; &nbsp; &nbsp; </span>
                <span style="font-size: medium">
                    &#10133; &#10133; &#10133; &#10133; &#10133; &#10133; &#10133; &#10133; &#10133;
                </span>
            </h2>
        </div><br>

        <div id="wrapper-display2">

            <div class="col-1-of-2">

                <h5>Color(s):</h5><br>

                {% if project.colors != None %}
                    {% for color in project.colors.split(',') %}
                        <ul>
                            <li>{{ color }}</li>
                        </ul>
                    {% endfor %}

                {% else %}
                    <ul>
                        <li>None Recorded</li>
                    </ul>

                {% endif %}<br>

                <h5>Color Type(s):</h5><br>

                {% if project.color_types != None %}
                    {% for color_type in project.color_types.split(',') %}
                        <ul>
                            <li>{{ color_type }}</li>
                        </ul>
                    {% endfor %}<br>

                {% else %}
                    <ul>
                        <li>None Recorded</li>
                    </ul>

                {% endif %}<br>

                <h5>Color Amount(s):</h5><br>

                {% if project.color_amts != None %}

                    {% for camts in project.color_amts.split(',') %}
                        <ul>
                            <li>{{ camts }}</li>
                        </ul>
                    {% endfor %}

                {% else %}
                    <ul>
                        <li>None Recorded</li>
                    </ul>

                {% endif %}<br>

            </div>

            <div class="col-2-of-2"
                 style="align-items: flex-start;
                 justify-content: flex-start">

                <h5>Glitter(s):</h5><br>

                {% if project.glitters != None %}
                    {% for glitter in project.glitters.split(',') %}
                        <ul>
                            <li>{{ glitter }}</li>
                        </ul>
                    {% endfor %}

                {% else %}
                    <ul>
                        <li>None Recorded</li>
                    </ul>

                {% endif %}<br>

                <h5>Glitter Type(s):</h5><br>

                {% if project.color_types != None %}
                    {% for glitter_type in project.glitter_types.split(',') %}
                        <ul>
                            <li>{{ glitter_type }}</li>
                        </ul>
                    {% endfor %}

                {% else %}
                    <ul>
                        <li>None Recorded</li>
                    </ul>

                {% endif %}<br>

                <h5>Amount of Glitter(s):</h5><br>
                {% if project.glitter_amts != None %}
                    {% for gamt in project.glitter_amts.split(',') %}
                        <ul>
                            <li>{{ gamt }}</li>
                        </ul>
                    {% endfor %}

                {% else %}
                    <ul>
                        <li>None Recorded</li>
                    </ul>

                {% endif %}<br>

            </div>

        </div>

        <div id="wrapper-display3">

            <h2>
                <span style="font-size: large">
                    🕐 🕑 🕒 🕓 🕔 🕕
                </span>
                <span>
                    &nbsp; &nbsp; &nbsp; Time Details &nbsp; &nbsp; &nbsp;
                </span>
                <span style="font-size: large">
                    🕖 🕗 🕘 🕙 🕚 🕛
                </span>
            </h2><br>

            <h5>
                <span>
                    Time from Combining to Pouring: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                </span>
                {% if project.time_to_pour_mins != '' or project.time_to_pour_hrs %}
                    <span style="font-weight: normal; font-size: large">
                        {{ '%02d' % project.time_to_pour_hrs }} hours &nbsp; and &nbsp;
                        {{ '%02d' % project.time_to_pour_mins }} minutes<br>
                    </span>

                {% else %}
                    <span style="font-weight: normal; font-size: large">
                        None Recorded<br>
                    </span>

                {% endif %}
            </h5>

            <h5>
                <span>
                    Time it took to Pour Entire Project: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                </span>
                {% if project.pouring_time_mins != '' or project.pouring_time_hrs %}
                    <span style="font-weight: normal; font-size: large">
                        {{ '%02d' % project.pouring_time_hrs }} hours &nbsp; and &nbsp;
                        {{ '%02d' % project.pouring_time_mins }} minutes<br>
                    </span>

                {% else %}
                    <span style="font-weight: normal; font-size: large">
                        None Recorded<br>
                    </span>

                {% endif %}
            </h5>

            <h5>
                <span>
                    Time from Completing Pouring to De-molding: &nbsp;&nbsp;
                </span>
                {% if project.time_to_demold_hrs != '' %}
                    <span style="font-weight: normal; font-size: large">
                        {{ '%02d' % project.time_to_demold_hrs }} hours &nbsp; and &nbsp;
                        {{ '%02d' % project.time_to_demold_mins }} minutes<br><br>
                    </span>

                {% else %}
                    <span style="font-weight: normal; font-size: large">
                        None Recorded<br><br>
                    </span>

                {% endif %}
            </h5>

        </div><br>

        <div id="wrapper-display4">
            <h2>
                <span style="font-size: large">
                    &#127777;&#65039; &#127777;&#65039; &#127777;&#65039;
                    &#127777;&#65039; &#127777;&#65039; &#127777;&#65039;
                    &#127777;&#65039; &#127777;&#65039; &#127777;&#65039;
                </span>
                <span>
                    &nbsp; &nbsp; &nbsp; Temperature Details &nbsp; &nbsp; &nbsp;
                </span>
                <span style="font-size: large">
                    &#127777;&#65039; &#127777;&#65039; &#127777;&#65039;
                    &#127777;&#65039; &#127777;&#65039; &#127777;&#65039;
                    &#127777;&#65039; &#127777;&#65039; &#127777;&#65039;
                </span>
            </h2><br>

            <h5>
                <span>
                    Room Temperature at the Start of Project:
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                </span>
                {% if project.start_temp_unit == 'Fahrenheit' and project.start_temp %}
                    <span style="font-weight: normal; font-size: large">
                        {{ project.start_temp }}&#8457;<br>
                    </span>

                {% elif project.start_temp_unit == 'Celsius' and project.start_temp %}
                    <span style="font-weight: normal; font-size: large">
                        {{ project.start_temp }}&#8451;<br>
                    </span>

                {% else %}
                    <span style="font-weight: normal; font-size: large">
                        None Recorded<br>
                    </span>

                {% endif %}

            </h5>

            <h5>
                <span>
                    Room Temperature when Done Pouring:
                     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                </span>
                {% if project.end_temp_unit == 'Fahrenheit' and project.end_temp %}
                    <span style="font-weight: normal; font-size: large">
                        {{ project.end_temp }}&#8457;<br>
                    </span>

                {% elif project.end_temp_unit == 'Celsius' and project.end_temp %}
                    <span style="font-weight: normal; font-size: large">
                        {{ project.end_temp }}&#8451;<br>
                    </span>

                {% else %}
                    <span style="font-weight: normal; font-size: large">
                        None Recorded<br>
                    </span>

                {% endif %}

            </h5>

            <h5>
                <span>
                    Room Temperature at time of De-molding:
                     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                </span>
                {% if project.demold_temp_unit == 'Fahrenheit' and project.demold_temp %}
                    <span style="font-weight: normal; font-size: large">
                        {{ project.demold_temp }}&#8457;<br>
                    </span>

                {% elif project.demold_temp_unit == 'Celsius' and project.demold_temp %}
                    <span style="font-weight: normal; font-size: large">
                        {{ project.demold_temp }}&#8451;<br>
                    </span>

                {% else %}
                    <span style="font-weight: normal; font-size: large">
                        None Recorded<br>
                    </span>

                {% endif %}

            </h5>

        </div><br>

        <h2 style="color: cornflowerblue">
            <span style="font-size: large">
                &#127881; &#127881; &#127881; &#127881; &#127881; &#127881; &#127881; &#127881; &#127881;
            </span>
            <span> &nbsp; &nbsp; &nbsp; Results &nbsp; &nbsp; &nbsp; </span>
            <span style="font-size: large">
                &#127881; &#127881; &#127881; &#127881; &#127881; &#127881; &#127881; &#127881; &#127881;
            </span>
        </h2><br>

        <div id="wrapper-display5">

            <div class="col-1-of-2">

                <h3>
                    Results Score:
                </h3><br><br>

                <h5>Score of Results on a Scale of 1-5:</h5><br>
                {% if project.result_scale != 'None' %}
                    {{ project.result_scale }}

                {% else %}
                    None Recorded

                {% endif %}

            </div>

            <div class="col-2-of-2">

                <h3>
                    Image of Project Results
                </h3>

                {% if project.result_img == '' %}
                    <img alt="No Image Provided"
                         src="https://api.memegen.link/images/custom/No_Image_was_Provided/If_you_would_like_to_add_your_image,_please_edit_this_project_and_add_the_link_to_the_image_of_your_mold.jpg?background=https://tinyurl.com/hnbxurmv&token=st3a6gbnvcmhe3xggy2w&watermark=memecomplete.com"
                         width="90%" height="90%">

                {% else %}
                    <img src="data:{{ project.result_img_type }};base64,{{ project.result_img }}"
                         height=90% width=90%>

                {% endif %}

            </div>

        </div><br>

        <div style="color: #ea433b; font-size: large">

            <h3>
                <span style="font-size: large">
                    &#x1F4DD; &#x1F4DD; &#x1F4DD; &nbsp; &nbsp; &nbsp;
                </span>
                <span>Additional Notes, Comments, Suggestions, etc.</span>
                <span style="font-size: large">
                    &nbsp; &nbsp; &nbsp; &#x1F4DD; &#x1F4DD; &#x1F4DD;
                </span>
            </h3><br>

            {% if project.notes %}
                {{ project.notes }}

            {% else %}
                None Recorded

            {% endif %}

        </div>

    {% endif %}

{% endblock %}